/* button {
  padding: 2px 5px;
}
input {
  padding: 3px 5px;
}
form {
  display: grid;
  row-gap: 5px;
}

.container {
  margin-top: 3rem;
  display: grid;
  justify-items: center;
}

main {
  display: grid;
  width: 600px;
  row-gap: 3rem;
}
.data-table {
  width: 100%;
}
.table-actions {
  display: flex;
  justify-content: center;
}
.table-actions button:not(:last-child){
  margin-right: 5px !important;
}
@media(max-width: 600px) {
  main {
    width: calc(100vw - 250px);
    margin: 0 auto;
  }
} */