.tableHead {
  margin-bottom: 0.5rem;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 0.5fr 2fr 2.25fr 2.25fr 4fr 1fr;
  width: 100%;
}

@media (max-width: 1100px) {
  .tableHead {
    grid-template-columns: 0.5fr 3.5fr 3fr 4fr;
  }
}
